body {
    background-image: url(../img/BG.png);
    margin: 0;
    padding: 0;
    border: 0;
}

.home-banner-logo {

    box-sizing: content-box;
    padding-left: 45px;
    padding-top: 27px;
    width: 293px;
    height: 37.46px;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    left: 420px;
    top: 100px;
    width: 462px;
    height: 702px;
    margin-bottom: 5px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

.login-form {

    top: 40px;
    right: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

h2 {
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    font-size: 18px;
    position: relative;
    top: 20px;
    bottom: 10px;

}

h3 {
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    position: relative;
    top: 7px;
    bottom: 10px;
}

.email-input,
.password-input {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 48px;
    width: 362px;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
    top: 20px;
    bottom: 16px;
    left: 45px;


}

.password-input {
    margin-top: -25px;
}

.eye-icon {
    position: absolute;
    right: 65px;
    top: 200px;
}

::placeholder {
    font-family: 'Exo', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #5c5858;
    position: relative;
    top: 1px;
    font-weight: 100;
}

.checkbox-input {
    height: 20px;
    width: 20px;
    margin-top: 50px;
    margin-left: 50px;
    position: relative;
    bottom: 18px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}

.remember-me {
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    padding-left: 87px;
    bottom: 40px;

}

#forgot-pass {
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    position: relative;
    right: 4px;
    bottom: 74px;
    padding-left: 294px;
    color: #5FE19B;
}

.login-btn {
    height: 48px;
    width: 362px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #31C37F;
    border-color: #31C37F;
    position: relative;
    left: 48px;
    right: 4px;
    bottom: 67px;
    font-family: 'Exo', sans-serif;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#not-registered {
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    position: relative;
    padding-left: 120px;
    bottom: 50px;

}

#register-now {
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    color: #5FE19B;
    position: relative;
    bottom: 83px;
    padding-left: 255px;
}

.hr-separation {
    position: relative;
    bottom: 10px;
}

#hr-1 {
    width: 147.44px;
    position: relative;
    right: 108px;
    color: #585858;
    bottom: 60px;

}

#span-or {
    position: relative;
    left: 220px;
    bottom: 80px;
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    color: #585858;

}

#hr-2 {
    width: 147.44px;
    position: relative;
    left: 105px;
    bottom: 98px;
    color: #585858;

}


.facebook-btn,
.twitter-btn,
.google-btn {

    height: 41.5px;
    width: 361px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Exo', sans-serif;


}

.facebook-btn {
    display: inline-flex;
    box-sizing: content-box;
    position: relative;
    left: 43px;
    bottom: 80px;
    font-family: 'Exo', sans-serif;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

}

.facebook-icon {
    margin-right: 40px;
}

.facebook-login-btn {
    position: relative;
    right: 20px;

}

.twitter-btn {

    display: inline-flex;
    box-sizing: content-box;
    position: relative;
    left: 43px;
    bottom: 70px;
    justify-content: center;
    align-items: center;
    margin-bottom: 23px;

}

.twitter-icon {
    margin-right: 56px;
}

.twitter-login-btn {
    position: relative;
    right: 30px;
}

.google-btn {
    display: inline-flex;
    box-sizing: content-box;
    position: relative;
    left: 43px;
    bottom: 70px;
    justify-content: center;
    align-items: center;


}

.google-icon {
    margin-right: 56px;
}

.google-login-btn {
    position: relative;
    right: 30px;
}

.carrousel-slider {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 185px;
    padding-left: 120px;

}


.slider-dots {
    position: relative;
    right: 90px;
    bottom: 10px;
}

.left-chevron-container {
    position: relative;
    bottom: 300px;
    padding-left: 20px;


}

.right-chevron-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    bottom: 350px;
    right: 15px;

}

.left-chevron {
    display: flex;
    justify-content: flex-start;

    position: relative;
    bottom: 380px;
    padding-left: 32px;

}

.right-chevron {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    bottom: 405px;
    right: 27px;

}