.home-banner-logo {
    position: absolute;

    left: 53.23%;
    right: 1147.23%;
    top: 44.27%;
    bottom: 980.27%;
    color: #FFFFFF;
    height: 37.45945739746094px;
    width: 293.5359191894531px;
    left: 14.23193359375px;
    top: 14.270263671875px;
    border-radius: 0px;

}

/* .logo-rectangle {
    position: relative;
    left: 100px;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 66px;
    width: 322px;
    border-radius: 0px;

} */

.background-image {
    background-image: url(../img/BG.png);
    background-color: #C4C4C4;
    height: 1062px;
    width: 1494px;
    left: 0px;
    top: 0px;
    border-radius: 0px;

}

.bg-box {
    height: 702px;
    width: 462px;
    left: 932px;
    top: 178px;
    border-radius: 12px;
    position: absolute;
    background: #303030;
    background-blend-mode: overlay;
    backdrop-filter: blur(10px);

}

.container {
    display: flex;
}

.login-form {
    height: 702px;
    width: 462px;
    left: 932px;
    top: 178px;
    justify-content: space-around;
}

h2 {
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    font-size: 22px;
    /* height: 27px;
    width: 362px;
    left: 982px;
    top: 218px;
    right: 1500px;
    font-family: 'Exo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF; */


}

h3 {
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Exo', sans-serif;
}

/* h3 {
    position: absolute;
    height: 27px;
    left: 65.73%;
    right: 10.04%;
    top: calc(50% - 27px/2 - 299.5px);
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
} */